.product-card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 12px;
}

.product-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin: 8px 0;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    flex-grow: 1;
}

.product-price {
    font-size: 1.2rem;
    color: var(--sunnyYellow);
    font-weight: 800;
}

.product-rating {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 800;
}

.star {
    font-size: 1.2rem;
    color: #ddd;
}

.star.filled {
    color: var(--sunnyYellow);
}

.rating-count {
    font-size: 1rem;
    color: var(--coolGray)
}

.product-button {
    padding: 10px 20px;
    background-color: var(--darkGray);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 90%;
}

.product-button:hover {
    background-color: var(--grayishLavender);
}