@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --sunnyYellow: #fec240;
  --darkGray: #3c3c3c;
  --pastelYellow: #fff478;
  --coolGray: #838383;
  --tangerine: #e46200;
  --lightGray: #f5f5f5;
  --peachyYellow: #ffcb7f;
  --grayishLavender: #c1c0c1;
  --paleButterYellow: #fffde7;
  --transition: 0.4s ease-in-out;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: "Roboto", serif;
}

